######################
# VIVADO
######################

# vivado specific files
*.jou
*.log
*.lpr
*.xpr

# vivado synth directories
*.hw
*.sim
*.srcs
*.cache
*.ip_user_files
*.runs
*.lock

# block diagram autogen directories
**/bd/*/

# Vivado bd tcl likes to generate stupid directories everywhere
*NONE/*

######################
# VITIS
######################

# ignore everything for now
/software/*
